:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
}

body {
  padding: 24px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: oklch(0.967 0.001 286.375);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: oklch(0.141 0.005 285.823);
  }
}

psbots-terminal {
  margin: 4rem auto;
}
