:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
}

body {
  padding: 24px;
  place-content: center center;
  background-color: oklch(96.7% 0.001 286.375deg);
}

.terminal-header {
  padding: 8px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #000;
  background-color: oklch(55.2% 0.016 285.938deg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.terminal {
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 8px;
  background-color: #000;
}

canvas {
  border: 1px solid #000;
  vertical-align: middle;
  margin-bottom: 1px;
}