html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: pre;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#terminal {
  padding: 1em;
  height: calc(100% - 3em);
}
