{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "@stylistic/js",
    "prettier",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120,
        "trailingComma": "none"
      }
    ],
    "no-unused-vars": "off",
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-types": "error",
    "max-len": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "fixStyle": "separate-type-imports"
      }
    ],
    "import/consistent-type-specifier-style": [
      "error",
      "prefer-top-level"
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ],
    "@typescript-eslint/no-import-type-side-effects": "error"
  },
  "env": {
    "node": true
  }
}
